body{
    display:flex;
    align-items: center;
    justify-content: center;
}

.Admin_login_container{
    border-radius: 5px 5px 5px 5px;
    margin-top: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    width:30%;
    height: 200px;
    text-align: center;
    background: #EECDA3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #EF629F, #EECDA3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #EF629F, #EECDA3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
#login-user-username,#login-user-passowrd,#login-user{
    margin-top: 15px;
}
#login-user-username,#login-user-passowrd{
    width:60%;
    height:40x;
}
#login-user{
    width:25%;
    height:50x;
    border-radius: 2px 2px 2px 2px;
    border: none;
}
#login-user:hover{
    background-color: rgb(210, 24, 210);
}