body{
    display:flex;
    align-items: center;
    justify-content: center;
}

.Admin_login_container{
    border-radius: 5px 5px 5px 5px;
    margin-top: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    width:30%;
    height: 200px;
    text-align: center;
    background: #c9a0ec;

}
#login-user-username,#login-user-passowrd,#login-user{
    margin-top: 15px;
}
#login-user-username,#login-user-passowrd{
    width:60%;
    height:40x;
}
#login-user{
    width:20%;
    height:100x;
    border-radius: 5px 5px 5px 5px;
    border: none;
}
#login-user:hover{
    background-color: rgb(210, 24, 210);
}