
#up_first_row{
    width:98%;
    margin: auto;
    margin-bottom:20px;
}
#up_first_row>img{
    width:100%;
}
#up_second_row{
    width:98%;
    margin: auto;
    height: 50vh;
    margin-bottom:20px;
}
#up_second_row img{
    width:100%;
}
.swiper{
    height:fit-content;
    width:100%;
}
.swiper-slide img{
    width:100%;
}
.swiper .swiper-pagination-bullet-active{
    background: rgb(249, 66, 96);
}
#category{
    margin-left:15px;
    font-family: aqleema-medium;
    color: #2c414c;
    font-size: 20px;
}
#up_third_row{
    width:100%;
    margin: auto;
    height: 50vh;
    margin-bottom:20px;
}
#up_third_row>div{
    height: 55vh;
}

#up_third_row{
  display: flex;
  max-width: 1200px;
  position: relative;
  margin-bottom:50px;
}
#up_third_row i{
  top: 50%;
  height: 44px;
  width: 44px;
  color: #343F4F;
  cursor: pointer;
  font-size: 1.15rem;
  position: absolute;
  text-align: center;
  line-height: 44px;
  background: #fff;
  border-radius: 50%;
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}
#up_third_row i:active{
  transform: translateY(-50%) scale(0.9);
}
#up_third_row i:hover{
  background: #f2f2f2;
}
#up_third_row i:first-child{
  left: -22px;
}
#up_third_row i:last-child{
  right: -22px;
}
#up_third_row .slider2{
  font-size: 0px;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
}
.slider2.dragging{
  cursor: grab;
  scroll-behavior: auto;
}
.slider2.dragging img{
  pointer-events: none;
}
.slider2 img{
  height: 100%;
  object-fit: cover;
  user-select: none;
  margin-left: 14px;
  width: calc(100% / 4.5);
}
.slider2 img:first-child{
  margin-left: 0px;
}

#up_fourth_row{
    width:98%;
    margin: auto;
    margin-bottom:20px;
}
#up_fifth_row{
  display:grid;
  width:98%;
  margin: auto;
  grid-template-columns: repeat(2,1fr);
  margin-bottom:20px;
}
#up_fifth_row img{
  width: 100%;
}
#up_sixth_row{
  width:98%;
  margin: auto;
  margin-bottom:20px;
}
