
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Permanent+Marker&family=Poppins:ital,wght@0,200;0,300;0,400;0,900;1,800;1,900&display=swap');


body{
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}


*{
    margin:0;
    box-sizing: border-box;
}
:brfore,:after{
    box-sizing: border-box;

}
.container{
    max-width: 1200px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.v-center{
    align-items: center;

}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
/* header */
.header{
    display: block;
    width: 100%;
    position: relative;
    z-index: 99;
    padding: 15px;
}
.header .item-left{
/* background-color: yellow; */
flex: 0 0 17%;
}
.header .logo{
    font-size: 20px;
    color:black;
    font-weight: 700;
    text-decoration: none;
}
.header .item-center{
/* background-color: red; */
flex: 0 0 66%;
}
.header .item-right{
/* background-color: blue; */
flex: 0 0 17%;
}
.header .menu > ul > li{
    display: inline-block;
    line-height: 50px;
    margin-left: 25px;

}
.header .menu > ul > li > a{
    font-size: 15px;
    font-weight: 500;
    color:black;
    position: relative;
    text-transform: capitalize;
    transition: color 0.3s ease;
    
}
.header .menu > ul > li .sub-menu{
    position: absolute;
    z-index: 500;
    background-color:whitesmoke; /*for downscrool*/
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  padding: 20px 30px;
  transition: all 0.5 ease;
  margin-top: 25px;
  opacity: 0;
visibility: hidden;

}
.header .menu > ul > li.menu-item-has-children:hover .sub-menu{
    margin-top: 0;
    visibility: visible;
    opacity: 1;
}
.header .menu > ul > li .sub-menu > ul > li{
    line-height: 1; /* content close to each other*/
}
.header .menu > ul > li .sub-menu > ul > li >a{
    display: inline-block;
    padding: 10px 0;
    font-size: 15px;
    color: black;
    transition: color 0.3s ease;
    text-decoration: none;
    text-transform: capitalize;

}
.header .menu > ul > li .single-column-menu>{
    min-width:280px ;
    max-width: 350px;
}
.header .menu > ul > li .sub-menu.mega-menu > .list-item> ul > li{
line-height: 1;
display: block;

}
.header .menu > ul > li .sub-menu.mega-menu > .list-item> ul > li > a{
    padding: 10px 0;
    display: inline-block;
    font-size: 15px;
    color: black;
    transition: color 0.3s ease;


}
.header .menu > ul > li .sub-menu.mega-menu{
  left: 50%;
  transform: translate(-50%);    
}
/* .header .menu > ul > li .sub-menu.mega-menu{

} */
.header .menu > ul > li .sub-menu.mega-menu-column-4{
    max-width: 1100px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 20px 15px;

}
.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item{
flex: 0 0 25%;
padding: 0 15px;
}
.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item .title{
    font-size: 16px;
    color:black; /* heade of product colors*/
    font-weight:bold;
    line-height: 1;
    padding: 10px 0;
    
}
.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item img{
    max-width: 100%;
    width: 100%;
    vertical-align: middle;
}
.header .menu > ul > li .sub-menu.mega-menu > .list-item> ul > li > a,
.header .menu > ul > li .sub-menu > ul > li >a:hover,
.header .menu > ul > li:hover > a{
    color: black; /*product item colo black*/
}

/* banner section */
.banner-section{
    background-image: url("https://media6.ppl-media.com/tr:w-1280,c-at_max,pr-true,dpr-2,f-gif/mediafiles/ecomm/misc/1669182865_magical-makeup-guide-web.gif");
    height: 700px;
    width: 100%;
    display: block;

}

/* shop cate*/
.sub-menu mega-menu mega-menu-column-4 {
display: flex;
}