#product_first_row{
    width:80%;
    margin:auto;
    height: 50px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#product_first_row>div{
    height: 50px;
    width: calc(100% / 4);
    text-align: center;
}
#search_box,#search_div,#filter,#sort{
    display:flex;
    justify-content: center;
    align-items: center;
    
}
#Search_product>img{
    width:10%
}
#Filter,#Sort{
    width: 200px;
}
.card-list{
    width:70%;
    margin:auto;
    display:grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px 20px;
    margin-top: 30px;
    text-align: center;
}
.card img{
    width:100%;
}
.card_addtocart{
    bottom: 10px;
    left:50%;
    padding:10px;
    border:none;
    outline:none;
    background: rgb(46, 46, 46);
    transition:0.5s;
    cursor:pointer;
    color:beige;
    opacity:0;
    width:100%
}
 .card:hover .card_addtocart{
    opacity:1;
}
.card_addtocart:hover{
    background: rgb(79, 79, 79);
}
