/* --------------------------------- Css for Coupon alert ---------------------------------- */
#coupon{
    width: 100%;
    display: grid;
    grid-template-columns: 10% 28% 43% 12% 0%;
    height: 60px;
    margin-top: -8px;
    background-color: #f9d3e8;
    align-items: center;
}
#coupon > img{
    width: 50px;
    height: 40px;   
    margin-left: 100px; 
}
#download{
    width: 160px;
    height: 40px;
    background-color: #ff147b;
    color: white;
    padding: 7px 12px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    border: none;
}
#close-coupon{
    width: 30px;
    font-size: 20px;
    border: none;
    padding: 7px 12px;
    margin-top: -10px;
    background-color: transparent;
    cursor: pointer;
}
.code{
    border: 2px dashed red;
    margin: auto;
    font-size: 17px;
    background-color: white;
    /* margin-top: 20px; */
    padding: 5px 10px;
    margin-left: -60px;
}
.code span{
    color: red;
}

/* ------------------------------------------- Css for upper-nav ------------------------------------------ */
.upper-nav{
    width: 90%;
    margin: auto;
    height: 20px;
    text-align: right;
    padding: 10px 0px 0px 0px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
.hide-upper-nav{
    visibility: hidden;
}
.upper-nav > a{
    text-decoration: none;
    color: black;
    cursor: pointer;
    font-weight: lighter;
    font-size: 12px;
    padding: 10px 5px;
    align-content: center;
}
.upper-nav > a:hover{
    color: blue;
}
.line{
    width: 100%;
    border: none;
    height: 0.5px;
    background: rgb(234, 232, 232);
}

/* --------------------------------------------- Navbar ------------------------------------------------------ */
#navbar{
    width: 90%;
    margin: auto;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 10px; */
}
#navbar > div{
    padding: 0px 20px;
}
#navbar > div > input{
    width: 275px;
    height: 40px;
    cursor: pointer;
    font-size: 16px;
    outline: none;
    border: none;
    border-bottom: 2px solid blue;
}
#navbar > div + input{
    width: 60px;
    cursor: pointer;
}
#navbar > div > img{
    width: 60px;
    height: 50px;
    cursor: pointer;
}
#logo1{
    width: 100px;
    height: 75px;
    margin-top: 20px;
}
#logo2{
    width: 40px;
}
#navbar > div:nth-child(3){
    width: 15%;
    display: flex;
    justify-content: space-between;
}
#search-btn{
    width: 30px;
    transform: translate(350px, -80px);
    position: relative;
}

/* ----------------------------Profile DropDown Image ---------------------------------------- */

#profile-dropdown-img{
    width: 20px;
    position: relative;
    transform: translate(1308px, -18px);
    visibility: hidden;
}

/* ----------------------------- Profile Dropdown div ---------------------------------------- */

#profile-dropdown-div{
    width: 175px;
    position: relative;
    transform: translate(1210px, -70px);
    background-color: whitesmoke;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-size: 14px;
    visibility: hidden;
    position: relative;
}
#profile-dropdown-div span{
    color: #ff147b;
    cursor: pointer;
}
#profile-dropdown-div > button{
    width: 90%;
    height: 30px;
    display: block;
    margin: auto;
    color: white;
    background-color: rgb(65, 65, 246);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#profile-dropdown-div > a{
    text-decoration: none;
    display: block;
    color: black;
    padding: 3px 0px;
}
#profile-dropdown-div > a:hover{
    color: #ff147b;
}
/* ------------------------------------- Search Popup -------------------------------------------- */

.search-popup{
    width: 100%;
    border: 1px solid white;
    background-color: white;
    position: absolute;
    visibility: hidden; 
    left: 0%;
    top: 0%;
    transform: translate(0%, 0%);
}
.open-popup{
    visibility: visible;
    top: 0;
    transform: translate(0, 0) scale(1);
    transition: transform 0.4s, top, 0.4s;
}
.search-popup > button{
    border: none;
    background-color: transparent;
    font-size: 28px;
    font-weight: lighter;
    float: right;
    margin-right: 10px;
    cursor: pointer;
}
.search-popup > div{
    width: 70%;
    margin: auto;
    margin-top: 80px;
    height: 300px;
}
.search-popup > div > label{
    font-size: 16px;
    margin-top: 160px;
    margin-left: 20px;
    color: rgb(168, 167, 167);
}
.search-popup > div > input{
    display: block;
    width: 95%;
    height: 30px;
    outline: none;
    border: none;
    border-bottom: 1px solid #ff147b;
    font-size: 16px;
}
.search-popup > div > img{
    transform: translate(1000px, -35px);
    width: 30px;
    position: relative;
}
.search-popup > div > div {
    display: flex;
}
.search-popup > div :nth-child(1){
    display: flex;
    margin-top: -5px;
    width: 350px;
    color: rgb(168, 167, 167);
    margin-left: 5px;
    width: 250px;
}
.search-popup > div > div :nth-child(2){
    padding-left: 20px;
    border-left: 1px solid rgb(234, 232, 232);
}
.search-popup > div > div > div {
    width: 350px;
}
