.login-otp-box{
    width: 30%;
    margin: auto;
    margin-top: -300px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    padding: 30px;
}
.login-otp-box > p{
    font-size: 20px;
}
.login-otp-box > input, .login-otp-box > button{
    margin-top: 30px;
    height: 40px;
    display: block;
    width: 100%;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.login-otp-box > input{
    width: 100%;
    outline: 0;
    border: none;
    border-bottom: 1px solid rgb(220, 219, 219);  
    font-size: 16px;
}
.login-otp-box > a{
    display: block;
    margin-top: 20px;
    color: #ff147b;
    text-decoration: none;
    font-weight: bold;
}
.login-otp-box > span + a + a{
    display: none;
}
#back{
    text-align: center;
}
.login-otp-box > button{
    background-color: rgb(195, 192, 192);
    color: white;
    cursor: pointer;
    border: none;
    outline: 0;
    font-weight: bold;
}
#sec{
    float: right;
    font-size: 12px;
    margin-top: -125px;
    display: none;
}



#close-login-otp{
    cursor: pointer;
    background-color: transparent;
    color: black;
    float: right;
    transform: translate(-500px, -300px);
    border: none;
    font-size: 22px;
}
.footer{
    margin-top: 300px;
}