.login-signup-box{
    width: 30%;
    margin: auto;
    margin-top: -300px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    padding: 30px;
}
.login-signup-box > input, .login-signup-box > button{
    margin-top: 30px;
    height: 40px;
}
.login-signup-box > input{
    width: 80%;
    outline: 0;
    border: none;
    border-bottom: 1px solid rgb(220, 219, 219);  
    font-size: 16px;
}
.login-signup-box > input + button{
    width: 40px;
    border-radius: 80%;
    margin-left: 20px;
    border: none;
    background-color: rgb(195, 192, 192);
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    color: white;
    font-weight: 900;
    cursor: pointer;
}
.login-signup-box > p{
    text-align: center;
    margin-top: 50px;
    font-size: 18px;
    color: rgb(173, 172, 172);
}
.login-signup-box > a{
    text-decoration: none;
    padding: 20px;
    width: 45%;
    margin: auto;
    margin-left: 10px;
    margin-top: 20px;
    color: gray;
    text-align: center;
    font-size: 22px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#close-login{
    cursor: pointer;
    background-color: transparent;
    color: black;
    float: right;
    transform: translate(-500px, -300px);
    border: none;
    font-size: 22px;
}
.footer{
    margin-top: 300px;
}